USE [master]
GO
/****** Object:  Database [bdsistema]    Script Date: 29/10/2025 10:21:34 p. m. ******/
CREATE DATABASE [bdsistema]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bdsistema', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MISQLJULIANSERV\MSSQL\DATA\bdsistema.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bdsistema_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MISQLJULIANSERV\MSSQL\DATA\bdsistema_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bdsistema].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bdsistema]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_contar_productos]    Script Date: 29/10/2025 10:21:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[fn_contar_productos]
(
	
)
RETURNS int
AS
BEGIN
	-- Declare the return variable here
	DECLARE @cantidad int

	-- Add the T-SQL statements to compute the return value here
	SELECT @cantidad = COUNT(id_producto) FROM [dbo].[producto]

	-- Return the result of the function
	RETURN @cantidad

END


GO
/****** Object:  Table [dbo].[employee]    Script Date: 29/10/2025 10:21:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[employee](
	[id_employee] [int] IDENTITY(1,1) NOT NULL,
	[cargo] [varchar](25) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[edad] [int] NOT NULL,
 CONSTRAINT [PK_employee] PRIMARY KEY CLUSTERED 
(
	[id_employee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[producto]    Script Date: 29/10/2025 10:21:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[producto](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[clave] [varchar](25) NOT NULL,
	[descripcion] [varchar](150) NOT NULL,
	[existencia] [int] NOT NULL,
	[precio] [money] NOT NULL,
 CONSTRAINT [PK_producto] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 29/10/2025 10:21:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuarios](
	[usuario] [varchar](50) NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_empleado]    Script Date: 29/10/2025 10:21:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_actualizar_empleado]
	@id_employee varchar(50),
	@cargo varchar(25),
	@nombre varchar(150),
	@edad int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[employee]
     SET cargo = @cargo
      ,nombre = @nombre
      ,edad = @edad
    WHERE id_employee = @id_employee
END


GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_producto]    Script Date: 29/10/2025 10:21:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_actualizar_producto]
	@clave varchar(50),
	@descripcion varchar(150),
	@existencia int,
	@precio money
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[producto]
     SET [clave] = @clave
      ,[descripcion] = @descripcion
      ,[existencia] = @existencia
      ,[precio] = @precio
    WHERE clave = @clave
END


GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_empleado]    Script Date: 29/10/2025 10:21:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_buscar_empleado]
    @id_employee VARCHAR(50)
AS
BEGIN
    SELECT 
		cargo,
        nombre,
        edad
    FROM employee
    WHERE id_employee = @id_employee;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_producto]    Script Date: 29/10/2025 10:21:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_buscar_producto]
    @clave VARCHAR(50)
AS
BEGIN
    SELECT 
        descripcion,
        existencia,
        precio
    FROM producto
    WHERE clave = @clave;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_empleado]    Script Date: 29/10/2025 10:21:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_eliminar_empleado]
	-- Add the parameters for the stored procedure here
	@id_employee varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM [dbo].employee WHERE id_employee=@id_employee
END


GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_producto]    Script Date: 29/10/2025 10:21:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_eliminar_producto]
	-- Add the parameters for the stored procedure here
	@clave varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM [dbo].[producto] WHERE clave=@clave
END


GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_empleado]    Script Date: 29/10/2025 10:21:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_insertar_empleado] 
	-- Add the parameters for the stored procedure here
	@id_employee varchar(50),
	@cargo varchar(25),
	@nombre varchar(150),
	@edad int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].employee
           (cargo
           ,nombre
           ,edad)
     VALUES
           (@cargo,@nombre,@edad)
END


GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_producto]    Script Date: 29/10/2025 10:21:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_insertar_producto] 
	-- Add the parameters for the stored procedure here
	@clave varchar(25),
	@descripcion varchar(150),
	@existencia int,
	@precio money
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[producto]
           ([clave]
           ,[descripcion]
           ,[existencia]
           ,[precio])
     VALUES
           (@clave,@descripcion,@existencia,@precio)
END


GO
/****** Object:  StoredProcedure [dbo].[sp_listar_empleados]    Script Date: 29/10/2025 10:21:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[sp_listar_empleados] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT id_employee
      ,cargo
      ,nombre
      ,edad
  FROM [dbo].employee
END


GO
/****** Object:  StoredProcedure [dbo].[sp_listar_productos]    Script Date: 29/10/2025 10:21:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_listar_productos] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT
	   [clave]
      ,[descripcion]
      ,[existencia]
      ,[precio]
  FROM [dbo].[producto]
END


GO
/****** Object:  StoredProcedure [dbo].[sp_ValidarUsuario]    Script Date: 29/10/2025 10:21:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Crear procedimiento almacenado para validar login
CREATE PROCEDURE [dbo].[sp_ValidarUsuario]
    @usuario VARCHAR(50),
    @contrasena VARCHAR(255)
AS
BEGIN
    DECLARE @existe INT;
    
    SELECT @existe = COUNT(*)
    FROM usuarios
    WHERE usuario = @usuario 
      AND contrasena = @contrasena;
    
    IF @existe > 0
        SELECT 1 AS valido;
    ELSE
        SELECT 0 AS valido;
END;

GO
USE [master]
GO
